#container {
    display: flex;
    flex-wrap: wrap;
    min-width: 662px;
    max-width: 663px;
    align-items: center;
}

body {
    justify-content: center;
    display: flex;
}

#container div {
    width: 19px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;

}

.grid {
    display: flex;
    padding: 10px;
    border: 1px black;
    border-style: solid;

}

